libtpproto_cpp.kdevelop*
libtpproto_cpp.kdevses
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
stamp-h*
libtool
*.lo
*.la
libtpproto.pc
*.o
.libs
.deps
test/nettest
test/simpletest
