Source: libtpproto-cpp
Priority: extra
Maintainer: Paul Hampson <Paul.Hampson@Pobox.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2
Section: libs

Package: libtpproto-dev
Section: libdevel
Architecture: any
Depends: libtpproto1 (= ${Source-Version})
Description: Thousand Parsec network protocol development libraries and headers
 This package provides the development headers and libraries needed to compile
 software against the Thousand Parsec network protocol.

Package: libtpproto1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Thousand Parsec network protocol library
 This package provides a library implementing the Thousand Parsec network
 protocol for clients.
